@media (min-width: 800px) {
    main {
        min-width: 32%;
        margin: auto;
        border-radius: 35px;
        box-shadow: 12px 12px 10px 2px var(--pale-blue);

        display: flex;
        flex-direction: row;
    }

    .section-result {
        width: 50%;
        height: 100%;
        border-radius: 35px;
    }

    .section-summary {
        width: 50%;
        height: 100%;
    }

    footer {
        font-size: 1rem;
        flex-direction: row;
        gap: 10px;
    }
}
