main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

img {
    width: 100%;
}

section {
    width: 80%;
}

article {
    padding: 20px 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

h1 {
    margin-bottom: 10px;
    color: hsl(24, 5%, 18%);
    font-family: "Young Serif", serif;
    font-size: 2rem;
    font-weight: 400;
}

.different {
    padding: 24px;
    background-color: hsl(330, 100%, 98%);
    border-radius: 10px;
}

h3 {
    color: hsl(332, 51%, 32%);
}

.different ul li::marker {
    color: hsl(332, 51%, 32%);
    font-size: 0.8rem;
}

span {
    font-weight: 600;
}

h2 {
    color: hsl(14, 45%, 36%);
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-size: 1.8rem;
}

ul {
    /* margin: 0 20px; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-position: inside;
}

ul li::marker {
    color: hsl(14, 45%, 36%);
    font-size: 0.8rem;
}

hr {
    color: hsl(30, 10%, 34%);
}

ol {
    margin: 0 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

ol li::marker {
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}

ol li {
    padding-left: 15px;
}

table {
    border-collapse: collapse;
}

td {
    border-bottom: 0.3px solid hsl(30, 18%, 87%);
}

tbody tr:last-child td {
    border-bottom: none;
}

td {
    width: 50%;
    padding: 15px 0 15px 15px;
    text-align: start;
    font-weight: normal;
}

.text-Brown {
    padding: 0;
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}

footer {
    width: 100%;
    margin-top: 10px;
    padding: 30px 0;
    background-color: hsl(14, 45%, 36%);

    display: flex;
    flex-direction: column;
    gap: 5px;
}

footer {
    font-size: 1rem;
    text-align: center;
    color: hsl(330, 100%, 98%);
}

footer a {
    color: hsl(330, 100%, 58%);
    text-decoration: none;
}

footer a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: hsl(330, 100%, 68%);
}

hr {
    height: 1px;
    background-color: hsl(30, 18%, 87%);
    margin: 20px 0;
    border: none;
}
